/*************************

	Bootstrap Overrides

/*************************/

body {
	font-size: 12px;
}

.container {
	margin-top: 75px;
	margin-bottom: 20px;
}

.table > tbody + tbody {
	border-top: none;
}

table > tbody > tr > td {
	vertical-align: middle !important;
}

table tbody:nth-child(1) tr th {
	height: 40px;
	background: #333;
	color: #fff;
	font-weight: normal;
	vertical-align: middle;
}

input[type='text'],
input[type='password'],
input[type='email'],
.form-control#dob {
	border: 1px solid #ddd;
	padding: 2px 5px;
}

.btn-primary {
	background: #f15a22;
	border: #e24b13;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-success:active:focus {
	background: #e24b13 !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover {
	background-color: #eee;
}

.datepicker th.prev:before {
  font-family: 'Glyphicons Halflings';
  content: "\e257";
}

.datepicker th.next:before {
  font-family: 'Glyphicons Halflings';
  content:"\e258";
}

/********************

	Custom CSS

/********************/



/********************

	Core

/********************/

html {
	height: 100%;
}

.orange {
	color: #f15a22;
}

.green {
	color: #5cb85c;
}

.cursor {
	cursor: pointer;
}

.cursor:hover {
	text-decoration: underline;
}

.empty-field {
	border: 1px solid #a94442 !important;
	background: rgba(168, 68, 66, 0.5);
}

.modal-body table tr td select,
.modal-body table tr td input {
	width: 100%;
	text-align: center;
}

.ellipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/********************

	Navigation

/********************/

.navbar {
	background: #333;
	border-bottom: 5px solid #f15a22;
}

.navbar .nav li > a,
.navbar .nav li > a:active:focus {
	color: #fff;
}

.navbar .nav li.active a {
	background: #f15a22;
	color: #fff;
}

.navbar .nav li > a:hover,
.navbar .nav li.active a:hover {
	background: #444;
	color: #f15a22;
}

/********************

	Login / Sign Up

/********************/

#logo {
	position: absolute;
	background: url(/img/tmc-logo-full-orange.png) no-repeat;
	background-size: 100%;
	margin: 20px 20px;
	width: 200px;
	height: 72px;
	z-index: 10;
}

#login-page,
#sign-up-page {
	background: #000;
	height: 100%;
}

#login-page > .container,
#sign-up-page > .container {
	position: relative;
  	top: 50%;
  	margin: 0 auto;
  	transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
}

#login-container,
#sign-up-container {
	width: 30%;
	background: rgba(187, 187, 187, 0.7);
	border: 1px solid #444;
	padding: 20px;
	margin: 0 auto;
}

#sign-up-page .container {
	position: relative;
	padding: 35px 0px 10px;
}

#login-container input,
#sign-up-container input,
#sign-up-container select {
	margin-bottom: 20px;
}

#login-container #login-btn,
 #login-container #suscribe-btn {
	width: 48%;
}

 #login-container #suscribe-btn,
 #login-container #sign-up-btn {
	float: right;
	margin-top: -32px;
	margin-left: 2%;
	width: 48%;
}

#login-errors,
#signup-errors {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #f15a22;
}

#gender {
	padding-left: 0;
}

#weight-kg {
	width: 48%;
	float: left;
}

#weight-lbs {
	width: 48%;
	float: right;
}

#height-cm {
	width: 32%;
	float: left;
	margin-right: 20%;
}

#height-ft {
	width: 20%;
	float: left;
}

#height-inch {
	width: 20%;
	float: right;
}

/********************

	Dashboard

/********************/

#bmr-tagline {
	margin-bottom: 30px;
    text-align: center;
}

#bmr-output,
#calorie-calculation-output {
	text-align: center;
}

#activity-desc {
	display: block;
	font-size: 14px;
	padding: 5px 0px 20px 0px;
}

#calorie-intake-row,
#calorie-calculation-row {
	margin-top: 20px;
}

#calorie-intake-container,
#calorie-calculation-container {
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

/********************

	My Days

/********************/

#my-days-table {
	margin-top: 20px;
}

select.foods {
	width: 90%;
}

#my-days-table tr th:nth-child(1),
#my-days-table tr th:nth-child(3),
#my-days-table tr th:nth-child(4),
#my-days-table tr th:nth-child(5),
#my-days-table tr th:nth-child(6),
#my-days-table tr th:nth-child(7),
#my-days-table tr th:nth-child(8),
#my-days-table tr th:nth-child(9) {
	width: 10%;
}

#my-days-table .meal .per-td .per {
	max-width: 80px;
}

#my-days-table tr th:nth-child(1),
#my-days-table tr th:nth-child(4),
#my-days-table tr th:nth-child(5),
#my-days-table tr th:nth-child(6),
#my-days-table tr th:nth-child(7),
#my-days-table tr th:nth-child(8),
#my-days-table tr th:nth-child(9),
#my-days-table tr td:nth-child(1),
#my-days-table tr td:nth-child(4),
#my-days-table tr td:nth-child(5),
#my-days-table tr td:nth-child(6),
#my-days-table tr td:nth-child(7),
#my-days-table tr td:nth-child(8),
#my-days-table tr td:nth-child(9) {
	text-align: center;
}

#save-day-button {
	float: right;
}

.total-meal-macros-tr,
#total-macros-tr {
	background: #eee;
}

/********************

	My Foods

/********************/

#my-foods-table tr th:nth-child(2),
#my-foods-table tr th:nth-child(3),
#my-foods-table tr th:nth-child(4),
#my-foods-table tr th:nth-child(5),
#my-foods-table tr th:nth-child(6),
#my-foods-table tr th:nth-child(7),
#my-foods-table tr th:nth-child(8) {
	width: 10%;
}

#my-foods-table th:nth-child(1),
#my-foods-table th:nth-child(2),
#my-foods-table th:nth-child(3),
#my-foods-table th:nth-child(4),
#my-foods-table th:nth-child(5),
#my-foods-table th:nth-child(6),
#my-foods-table th:nth-child(7),
#my-foods-table th:nth-child(8),
#my-foods-table td:nth-child(1),
#my-foods-table td:nth-child(2),
#my-foods-table td:nth-child(3),
#my-foods-table td:nth-child(4),
#my-foods-table td:nth-child(5),
#my-foods-table td:nth-child(6),
#my-foods-table td:nth-child(7),
#my-foods-table td:nth-child(8) {
	text-align: center;
}

#my-foods-table .per {
	max-width: 80px;
	text-align: center;
}

#my-foods-table #add-food-per,
#my-foods-table #add-food-unit,
#my-foods-table #add-food-protein,
#my-foods-table #add-food-carbs,
#my-foods-table #add-food-fat {
	width: 80px;
	text-align: center;
}

#add-food-row {
	background: #eee;
	height: 40px;
}

#add-food-name {
	width: 90%;
	text-align: center;
}

#search-foods {
	width: 30%;
	min-width: 200px;
	float: right;
	margin-bottom: 20px;
}

#edit-food-table tr th,
#edit-food-table tr td {
	width: 50%;
	text-align: center;
}

/********************

	Meal Ideas

/********************/

#meal-ideas-tagline {
	text-align: center;
	margin-bottom: 30px;
}

#calories-output {
	text-align: center;
}

#meal-ideas-table {
	margin-top: 10px;
	table-layout:fixed;
}

#meal-ideas-table th,
#meal-ideas-table td {
	padding-left: 10px;
	width: 33.33%;
}

#meal-ideas-table .food-name-radio-btn {
	margin-right: 10px;
	margin-left: 1px;
}

#meal-ideas-table > tbody > tr > td {
	vertical-align: top !important;
}

.food-name-radio-btn-container {
	border-bottom: 1px solid #eee;
    padding: 5px 0;
}

#meal-idea-table tr th:nth-child(2),
#meal-idea-table tr th:nth-child(3),
#meal-idea-table tr th:nth-child(4),
#meal-idea-table tr th:nth-child(5),
#meal-idea-table tr th:nth-child(6),
#meal-idea-table tr th:nth-child(7) {
	width: 10%;
}

/********************

	My Weight

/********************/

#my-weight-chart-container {
	width: 80%;
	margin: 0 auto;
}

#weight-goal-table {
	margin-top: 20px;
}

#weight-goal-table input[type="text"],
#my-weight-table #add-weight-kg,
#my-weight-table #add-weight-lbs {
	width: 50px;
	text-align: center;
}

#weight-goal-table tr th:nth-child(2),
#weight-goal-table tr th:nth-child(3),
#my-weight-table tr th:nth-child(2),
#my-weight-table tr th:nth-child(3) {
	width: 10%;
}

#weight-goal-table tr th:nth-child(1),
#my-weight-table tr th:nth-child(1) {
	width: 30%;
}

#weight-goal-table tr th,
#weight-goal-table tr td,
#my-weight-table tr th,
#my-weight-table tr td {
	text-align: center;
}

#my-weight-table #add-weight-date {
	width: 50%;
	text-align: center;
}

#edit-weight-table tr th,
#edit-weight-table tr td {
	width: 50%;
	text-align: center;
}

/********************

	Foods Database

/********************/

.food-added {
	background: rgba(92, 184, 92, 0.25);
}

/********************

	My Profile

/********************/

#my-profile-tabs a {
	color: #000;
}

#my-profile-tabs > li.active > a,
#my-profile-tabs > li.active > a:focus,
#my-profile-tabs > li.active > a:hover {
	color: #fff;
	background: #f15a22;
	border-color: #e24b13;
}

#my-profile-tabs,
.tab-content {
	width: 50%;
}

.tab-content input,
.tab-content select {
	display: block;
	margin-top: 20px;
	width: 50%;
}

.update-btn {
	width: 25%;
	margin-top: 20px;
}

#height-container {
	width: 50%;
}

#profile #height-cm {
	width: 40%;
	margin-right: 15%;
}

#profile #height-ft,
#profile #height-inch {
	width: 20%;
}

#profile #height-inch {
	margin-left: 5%;
}

/********************

	My Training

/********************/

#my-training-table {
	margin-top: 20px;
}


#my-training-table tr th:nth-child(1),
#my-training-table tr th:nth-child(2),
#my-training-table tr th:nth-child(3),
#my-training-table tr th:nth-child(4),
#my-training-table tr th:nth-child(6) {
	width: 13%;
	text-align: center;
}

#my-training-table tr th:nth-child(5),
#my-training-table tr td {
	text-align: center;
}

#my-training-table tr td:nth-child(3) input,
#my-training-table tr td:nth-child(4) input {
	width: 60%;
}

#my-training-table tr td:nth-child(5) input {
	width: 100%;
}

#my-training-table tr td input[type='text'] {
	text-align: center;
}

#save-training-button {
	float: right;
}